/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --text-color: #f1b2ce;
  --main-title-color: rgb(219, 0, 255);
  --bg-color: #000028;
  --bg-image: url("../images/cover-image-dark.png");
  --main-lheight: 130%;
  --accent-color: rgb(255, 0, 112);
  --theme-rotate-accent-color: #ff0070;
  --theme-rotate-hover-color: #ff007066;
  --main-gap: 40px;
  --usualy-spacing: 20px;
  --border-color: rgb(255, 0, 112);
  --shadow-title: #ff0070;
  --link-color: #f1b2ce;
  --dec-clr: #ff0070;

  .rec__type-icon {
    display: flex;
  }
}
